body {
    background-color: #50514F;
    color: #FCEFEF;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.navbar-custom { 
    background-color: #FDB833; 
} 

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: #50514F; 
} 

.navbar a:hover {
    font-weight: bold;
}

.navbar a:visited {
    color: black; 
}

#footer {
    text-align: center;
    padding:1% 0 1% 0;
}

#header, #footer {
    background-color: #ED6A5A;
    color: white;  
}

#header {
    margin-bottom: 0;
    padding: 3%;
}

#image-container {
    padding: 1% 0 1% 0;
}


